{% extends 'base.html' %}

{% block title %}{{ page_title }} | Travelmap{% endblock %}

{% block content %}

{% if event %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{ event.title }}</h1>
            <h3 class="display-5">Дата: {{ event.date }}</h3>
            <h3 class="display-5">{{ event.description }}</h3>
        </div>
    </div>
{% else %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Поездка не найдена</h1>
        </div>
    </div>
{% endif %}

{% endblock %}
