{% extends 'base.html' %}

{% block title %}Главная страница | Travelmap{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div id="map" class="container-fluid py-5" style="height: 500px;"></div>
    <script>
        const map = L.map('map').setView([55.7558, 37.6173], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap'
        }).addTo(map);

        const marker = L.marker([55.7558, 37.6173]).addTo(map);
        marker.bindPopup('<a href="/location/1/">Москва</a>').openPopup();
    </script>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6 mb-4">
        {% if events %}
            <ul class="list-group">
            {% for event in events %}
                <li class="list-group-item">
                    <div class="row">
                        <p class="col-9">{{ event.title }} : {{ event.description }}</p>
                        <a class="btn btn-primary btn-lg col-3" href="{% url 'event' event.id %}" role="button">
                            Посмотреть
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Пока поездок нет</h2>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6 mb-4">
        {% if locations %}
            <ul class="list-group">
            {% for location in locations %}
                <li class="list-group-item">
                    <div class="row">
                        <p class="col-9">{{ location.title }} : {{ location.url }}</p>
                        <a class="btn btn-primary btn-lg col-3" href="{% url 'location' location.id %}" role="button">
                            Посмотреть
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Мест пока нет</h2>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
